.carte {
    width: 80%;
    z-index: 2;

    .menu {
        // background-color: rgb(183, 194, 212);
        background-color: #91979e;
        border-radius: 10px 10px 0 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        // transition: all 2s ease-in;
        width: 100%;

        &.open .store {
            height: 25rem;
        }

        &.open .menuimg {
            transform: rotate(180deg);
        }

        &.close .store {
            height: 0rem;
        }

        .menuimg {
            padding: 10px;
            display: flex;
            align-items: center;
            width: 100%;
            cursor: pointer;
            transition: transform 0.8s ease-in;

            img {
                height: 25px;
                margin: 0 auto;
            }
        }

        .store {
            transition: all 0.8s ease-in;
            // background-color: rgb(183, 194, 212);
            border-top: 1px solid black;
            width: 100%;
            flex-grow: 1;

            .title-store {
                text-align: center;
                padding: 10px;
                border-bottom: 1px dashed black;
            }

            .selection-store {
                padding: 15px;
                display: flex;
                justify-content: space-around;
                border-bottom: 1px solid black;

                input {
                    font-size: 1.2rem;
                    font-family: "Comfortaa", cursive;
                    width: 100%;
                    height: 100%;
                    background: none;
                    outline: none;
                    border: none;
                    cursor: pointer;
                }

                .active-selection {
                    font-weight: bold;
                }
            }

            .up-list-store {
                height: 300px;
                overflow-y: scroll;

                &::-webkit-scrollbar {
                    width: 7px;
                    background-color: none;
                }

                &::-webkit-scrollbar-thumb {
                    background-color: #6b6b6b;
                }
            }

            .boost-list-store {
                height: 300px;
                overflow-y: scroll;

                &::-webkit-scrollbar {
                    width: 7px;
                    background-color: none;
                }

                &::-webkit-scrollbar-thumb {
                    background-color: #6b6b6b;
                }
            }

            .item {
                // background-color: rgb(183, 194, 212);
                padding: 5px 10px;
                border-bottom: 1px dashed black;
                display: flex;
                flex-direction: column;
                justify-content: center;
                cursor: pointer;
                position: relative;

                h3 {
                    margin-bottom: 5px;
                }

                .blocking {
                    position: absolute;
                    left: 0;
                    top: 0;
                    height: 100%;
                    width: 100%;
                    color: white;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    opacity: 1;
                    transition: all 1s ease-in-out;
                    opacity: 1;
                    background-color: rgba(0, 0, 0, 0.75);

                    &.close {
                        opacity: 0; 
                    }

                    img {
                        height: 25px;
                        margin: 10px;
                    }
                }

                .valid {
                    background-color: rgba(12, 77, 15, 0.75);
                    position: absolute;
                    left: 0;
                    top: 0;
                    height: 100%;
                    width: 100%;
                    color: white;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    opacity: 1;

                    img {
                        height: 25px;
                        margin: 10px;
                    }
                }
            }
        }
    }
}
