.status {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

.status .info {
  background-color: #91979e;
  border-radius: 0 0 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
  width: 80%;
}

.status .info .diamond {
  margin-right: 30px;
}

.status .info img {
  height: 25px;
  margin: 0 auto;
  cursor: pointer;
}

.modal.open .modal-menu {
  -webkit-transform: translateY(200px);
          transform: translateY(200px);
  opacity: 1;
  z-index: 1000;
}

.modal.open .modal-window {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal.hide .modal-menu {
  -webkit-transform: translateY(-1000px);
          transform: translateY(-1000px);
  opacity: 1;
  z-index: 1000;
}

.modal.hide .modal-window {
  background-color: rgba(0, 0, 0, 0);
  z-index: 1000;
}

.modal.close .modal-menu {
  -webkit-transform: translateY(-500px);
          transform: translateY(-500px);
  opacity: 0;
  z-index: -1;
}

.modal.close .modal-window {
  background-color: rgba(0, 0, 0, 0);
  z-index: -1;
}

.modal .modal-window {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-transition: background-color 0.5s ease-in;
  transition: background-color 0.5s ease-in;
}

.modal .modal-menu {
  background: #91979e;
  border-radius: 10px;
  height: 450px;
  width: 300px;
  margin: 0 auto;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: -webkit-transform 0.5s ease-in;
  transition: -webkit-transform 0.5s ease-in;
  transition: transform 0.5s ease-in;
  transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
}

.modal .modal-menu .pause {
  font-size: 1.5rem;
}

.modal .modal-menu .list-input {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal .modal-menu .list-input input {
  margin: 10px;
  height: 35px;
  width: 80%;
  outline: none;
  border: 1px solid black;
  border-radius: 5px;
  background: #898f96;
  font-family: "Comfortaa";
  font-style: 2rem;
  cursor: pointer;
}

.modal .modal-menu .version {
  color: #636262;
}
/*# sourceMappingURL=stat.css.map */