.status {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;

    .info {
        background-color: #91979e;
        border-radius: 0 0 10px 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        width: 80%;

        // .reborn {

        // }

        .diamond {
            margin-right: 30px;
        }

        // .money {
        // }

        img {
            height: 25px;
            margin: 0 auto;
            cursor: pointer;
        }
    }
}

.modal {
    &.open .modal-menu {
        transform: translateY(200px);
        opacity: 1;
        z-index: 1000;
    }

    &.open .modal-window {
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1000;
    }

    &.hide .modal-menu {
        transform: translateY(-1000px);
        opacity: 1;
        z-index: 1000;
    }

    &.hide .modal-window {
        background-color: rgba(0, 0, 0, 0);
        z-index: 1000;
    }

    &.close .modal-menu {
        transform: translateY(-500px);
        opacity: 0;
        z-index: -1;
    }

    &.close .modal-window {
        background-color: rgba(0, 0, 0, 0);
        z-index: -1;
    }

    .modal-window {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        transition: background-color 0.5s ease-in;
    }

    .modal-menu {
        background: #91979e;
        border-radius: 10px;
        height: 450px;
        width: 300px;
        margin: 0 auto;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        transition: transform 0.5s ease-in;

        .pause {
            font-size: 1.5rem;
        }

        .list-input {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            input {
                margin: 10px;
                height: 35px;
                width: 80%;
                outline: none;
                border: 1px solid black;
                border-radius: 5px;
                background: #898f96;
                font-family: "Comfortaa";
                font-style: 2rem;
                cursor: pointer;
            }
        }

        .version {
            color: rgb(99, 98, 98);
        }
    }
}
